{#
/**
 * @file
 * Test template with content that generates no entries for the inpage navigation.
 */
#}
{{ attach_library('oe_theme_inpage_navigation_test/inpage_navigation_test') }}
<div id="inpage-navigation-test-container" data-inpage-navigation-source-area="h1">

  <h3>Lorem ipsum dolor sit.</h3>
  <h4>Lorem ipsum dolor sit amet, consectetur.</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eius!</p>

</div>
