{#
/**
 * @file
 * Text with featured media.
 */
#}

{% if title %}
  <h2 class="ecl-u-type-heading-2 ecl-u-mt-2xl ecl-u-mt-md-3xl ecl-u-mb-l">{{ title }}</h2>
{% endif %}
{% if image or video or text %}
  <div class="ecl-row">
    {% if image or video%}
      <div class="ecl-col-md-6 ecl-u-order-md-last ecl-u-mb-m ecl-u-mb-md-none">
        {% if image %}
          {% include '@ecl-twig/media-container' with {
            'image': image.src,
            'alt': image.alt,
            'description': caption,
          } %}
        {% elseif video %}
          {% include '@ecl-twig/media-container' with {
            'embedded_media': video,
            'ration': '16-9',
            'description': caption,
          } %}
        {% endif %}
      </div>
    {% endif %}
    {% if text %}
      <div class="{{ image or video ? ' ecl-col-md-6' : 'ecl-col-12' }} ecl-editor">{{ text }}</div>
    {% endif %}
  </div>
{% endif %}
