{#
/**
 * @file
 * Text with featured media.
 */
#}
{% if title %}
  <h2 class="ecl-u-type-heading-2 ecl-u-mt-2xl ecl-u-mt-md-3xl ecl-u-mb-l">{{ title }}</h2>
{% endif %}
{% if media.image or media.video or text %}
  <div class="ecl-row">
    {% if media.image or media.video %}
      <div class="ecl-col-md-6 ecl-u-order-md-last ecl-u-mb-m ecl-u-mb-md-none">
        {{ pattern('media_container', {
          'description': caption,
          'media': media
        }) }}
      </div>
    {% endif %}
    {% if text %}
      <div class="{{ media.image or media.video ? ' ecl-col-md-6' : 'ecl-col-12' }} ecl-editor">{{ text }}</div>
    {% endif %}
  </div>
{% endif %}
