{#
/**
 * @file
 * Text with featured media.
 */
#}

{% set video_ratio = video_ratio|replace({':': '-'}) %}
{% set allowed_values = ['16-9','4-3','3-2','1-1'] %}
{% if video_ratio not in allowed_values %}
  {% set video_ratio = '16-9' %}
{% endif %}
{% set text = text|render %}

{% if image or video or text %}
  {% if title %}
    <h2 class="ecl-u-type-heading-2 ecl-u-mt-2xl ecl-u-mt-m-3xl ecl-u-mb-l">{{ title }}</h2>
  {% endif %}
  <div class="ecl-row">
    {% if image or video %}
      <div class="ecl-col-m-6 ecl-u-order-m-last ecl-u-mb-m ecl-u-mb-m-none">
        {% if image %}
          {% include '@ecl-twig/media-container' with {
            'image': image.src,
            'alt': image.alt,
            'description': caption,
          } %}
        {% elseif video %}
          {% include '@ecl-twig/media-container' with {
            'embedded_media': video,
            'ratio': video_ratio,
            'description': caption,
          } %}
        {% endif %}
      </div>
    {% endif %}
    {% if text %}
      <div class="{{ image or video ? ' ecl-col-m-6' : 'ecl-col-12' }} ecl">{{ text }}</div>
    {% endif %}
  </div>
{% endif %}
