{#
/**
 * @file
 * Text with featured media.
 *
 * Variant "left_simple" is used by default.
 */
#}

{% set variant = variant|default('left_simple') %}
{% set text = text|render %}
{% set video_ratio = video_ratio|replace({':': '-'}) %}
{% set allowed_values = ['16-9','4-3','3-2','1-1'] %}
{% if video_ratio not in allowed_values %}
  {# Rely on ECL. #}
  {% set video_ratio = '' %}
{% endif %}

{# We consider the text position while ECL needs the media position, so we need to reverse the values. #}
{% if 'right' in variant %}
  {% set _position = 'left' %}
{% else %}
  {% set _position = 'right' %}
{% endif %}

{% if link %}
  {% set link_type = 'featured' in variant ? 'cta' : 'standalone' %}
  {% set call_to_action_link = {
    link: {
      type: link_type,
      label: link.label,
      path: link.path,
      icon_position: 'after'
    },
    icon: get_link_icon(link.path)
  }%}
{% endif %}

{% if image or video %}
    {% if image %}
      {% set _media_container = {
        'embedded_media': image,
        'description': caption,
      } %}
    {% elseif video %}
      {% set _media_container = {
        'embedded_media': video,
        'ratio': video_ratio,
        'description': caption,
      } %}
    {% endif %}
{% endif %}

{% if expandable is defined and expandable.content is not empty %}
  {% if expandable.hidden == true %}
    {% set aria_describedby_id = expandable.id|default('text-featured-media-' ~ random(100)) %}
    {% set extra_attributes = [
      {
        'name': 'aria-describedby',
        'value': aria_describedby_id,
      }
    ] %}
    <div id="{{aria_describedby_id}}" hidden class="text-featured-media-hidden-content">{{ expandable.content }}</div>
  {% else %}
    {% set _media_container = _media_container|merge({
      'expandable': {
        'id': expandable.id|default('text-featured-media-' ~ random(10)),
        'button': {
          label: expandable.label_collapsed,
          variant: 'secondary',
          icon: {
            name: 'corner-arrow',
            transform: 'rotate-180',
            size: 'm',
            path: ecl_icon_path,
          }
        },
        label_expanded: expandable.label_expanded|default('Expanded'|t),
        label_collapsed: expandable.label_collapsed|default('Collapsed'|t),
        content: expandable.content,
      }
    }) %}
  {% endif %}
{% endif %}

{% if title %}
  <h2 class='ecl-u-type-heading-2'>{{ title }}</h2>
{% endif %}

{% include '@ecl-twig/featured-item' with {
  type: highlighted == true ? 'extended' : '',
  title: text_title|default(''),
  description: text|default(''),
  link: call_to_action_link,
  media_container: _media_container|default([]),
  position: _position,
  extra_attributes: extra_attributes|default([]),
} %}
