{#
/**
 * @file
 * Theme override for a container used to wrap child elements.
 *
 * @see ./core/themes/stable/templates/form/container.html.twig
 */
#}
{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper ecl-form-group',
  ]
%}
<div{{ attributes.addClass(classes) }}>{{ children }}</div>
