{% spaceless %}

{#
/**
 * @file
 * Theme override for a container used to wrap child elements.
 *
 * @see ./core/themes/stable/templates/form/container.html.twig
 */
#}

{# Internal properties #}

{% set classes = [
  has_parent ? 'js-form-wrapper',
  has_parent ? 'form-wrapper ecl-form-group'
]
%}

{# Print the result #}

<div{{ attributes.addClass(classes) }}>
  {{ children }}
</div>

{% endspaceless %}
