{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * @see ./core/themes/stable/templates/form/form.html.twig
 * @see @ecl/generic-component-search-form.twig
 *
 * In order to avoid usage of not secure form template in ecl we have to partically copy code from @ecl/search-form.twig
 */
#}

<form {{ attributes.addClass('ecl-search-form').setAttribute('role', 'search') }}>
  {% include '@ecl/text-input' with {
    'id': input_array.id,
    'name': input_array.name,
    'label': input_array.label|default('Search'|t),
    'hide_label': input_array.hide_label|default(false),
    'invalid': input_array.invalid,
    'disabled': input_array.disabled,
    'type': input_array.type,
    'extra_classes': input_array.class|safe_join(' '),
    'extra_attributes': input_array.extra_attributes,
  } %}
  {% include '@ecl/button' with {
    'label': label|default('Search'|t),
    'variant': 'search',
    'extra_classes': 'ecl-search-form__button'
  } %}
  {{ element.form_build_id }}
  {{ element.form_token }}
  {{ element.form_id }}
</form>
