{#
/**
 * @file
 * Theme override for a form element label.
 *
 * @see ./core/themes/stable/templates/form/form-element-label.html.twig
 */
#}
{%
  set classes = [
    'ecl-form-label',
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>
{%- endif %}
