{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * @see ./core/themes/stable/templates/form/radios.html.twig
 */
#}
<div{{ attributes.setAttribute("role", "radiogroup") }}>{{ children }}</div>
