{% spaceless %}

{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * @see ./core/themes/stable/templates/form/radios.html.twig
 */
#}

{# Internal properties #}

{% set classes = [
  'ecl-radio__group',
  invalid ? 'ecl-radio__group--invalid',
]
%}

{# Print the result #}

<div{{ attributes.setAttribute("role", "radiogroup").addClass(classes) }}>
  {% set _label = label|default('') %}
  {%- if _label is not empty %}
    <div
      class="ecl-form-label{{ hide_label ? ' ecl-form-label--hidden'}}"
      id="{{ label_id|default('') }}"
    >
      {%- block label _label -%}
    </div>
  {% endif %}
  {{ children }}
</div>

{% endspaceless %}
