{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * @see ./core/themes/stable/templates/form/textarea.html.twig
 */
#}

{% if attributes.hasClass('error') %}
  {% set attributes = attributes.addClass('ecl-textarea--has-error') %}
{% endif %}
<div{{ wrapper_attributes }}>
  <textarea{{ attributes.addClass('ecl-textarea') }}>{{ value }}</textarea>
</div>
