{% spaceless %}

{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * @see ./core/themes/stable/templates/form/textarea.html.twig
 */
#}

{# Internal properties #}

{% if attributes.hasClass('error') %}
  {% set attributes = attributes.addClass('ecl-text-area--invalid') %}
{% endif %}

<div{{ wrapper_attributes }}>
  <textarea{{ attributes.addClass('ecl-text-area') }}>{{ value }}</textarea>
</div>

{% endspaceless %}
