@import '@ecl/ec-theme-default/index';
@import '@ecl/ec-component-form-help-block/ec-component-form-help-block';
@import '@ecl/ec-base/ec-base';
@import "./components/form";
@import "./components/toolbar";

/**
 * Required field
 */
.form-required:after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../images/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}

// Align "Apply" botton in moderation block.
.entity-moderation-form {
  .ecl-button {
    margin-bottom: 1em;
  }
}

// Temporary fix until the theme updates to ECL 2.12
@include ecl-media-breakpoint-up('md') {
  .ecl-menu-legacy__mega {
    z-index: 1;
  }
}
