@import '~@ec-europa/ecl-base';

.main-content {
  .block {
    margin-bottom: map-get($ecl-spacing, 'm');
  }
}

/**
 * Required field
 */
.form-required:after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../images/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}
