@import '@ecl/ec-theme-default/index';
@import '@ecl/ec-component-form-help-block/ec-component-form-help-block';
@import "./components/form";
@import "./components/toolbar";

.main-content {
  .block {
    margin-bottom: map-get($ecl-spacing, 'm');
  }
}

/**
 * Required field
 */
.form-required:after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../images/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}

// Remove top margin from text formats containers.
.form-item-text-format-value + .ecl-form-group {
  margin-top: 0;
}

// Align "Apply" botton in moderation block.
.entity-moderation-form {
  .ecl-button {
    margin-bottom: 1em;
  }
}
