@use '@ecl/theme-ec';
@use '@ecl/vanilla-utility-border/border';
@use '@ecl/vanilla-utility-background/background';
// TODO: The help form component is not available on ECL v3.
//@use '@ecl/ec-component-form-help-block/ec-component-form-help-block';
@use "./compositions/content_item";
@use "./components/form";
@use "./components/toolbar";
@use "./components/wysiwyg";
@use "./components/global";
@use "./components/description_list";
@use "./components/media_iframe";
@use "./components/expandable";
@use "./components/contextual_navigation";

// TODO: Remove after updating to ECL 3.9.1
.ecl-list-illustration__image {
  object-fit: contain;
}
// TODO: Remove after updating to ECL 3.9.1
.ecl-list-illustration__image--square {
  object-fit: cover;
}
