{#
/**
 * @file
 * Theme override for a status messages.
 *
 * @see ./core/themes/stable/templates/misc/status-messages.html.twig
 */
#}
{%- macro message_list(messages) %}
  {% for message in messages %}
    <span>{{ message }}</span>{{ loop.length > 1 and not loop.last ? '<br/>' }}
  {% endfor %}
{%- endmacro %}

{% set extra_attributes = [] %}
{% for name,value in attributes %}
  {% set extra_attributes = extra_attributes|merge([{'name': name, 'value': value}]) %}
{% endfor %}

{# Icon and close link are missing, they should be handled by the ECL component. #}
{# @todo: open a follow up on INNO board. #}
{% for type, messages in message_list %}
  {% include '@ecl/message' with {
    'title': status_headings[type],
    'description': _self.message_list(messages),
    'variant': (type == 'status' ? 'success' : type),
    'extra_attributes': extra_attributes,
    'close': {
      'label': 'Close this message'|t
    },
  } only %}
{% endfor %}
