{#
/**
 * @file
 * Theme override for a status messages.
 *
 * @see ./core/themes/stable/templates/misc/status-messages.html.twig
 */
#}
{%- macro message_list(messages) %}
  {% for message in messages %}
    <span{{ not loop.last ? ' class="ecl-u-mb-xs ecl-u-d-block"' }}>{{ message }}</span>
  {% endfor %}
{%- endmacro %}

{% set extra_attributes = [] %}
{% for name,value in attributes %}
  {% set extra_attributes = extra_attributes|merge([{'name': name, 'value': value}]) %}
{% endfor %}

{% for type, messages in message_list %}
  {% include '@ecl-twig/message' with {
    'title': status_headings[type],
    'description': _self.message_list(messages),
    'variant': (type == 'status' ? 'success' : type),
    'extra_attributes': extra_attributes,
    'extra_classes': 'ecl-u-mb-2xl',
    'icon': {
      'path': ecl_icon_path,
      'type': 'notifications',
      'name': (type == 'status' ? 'success' : type),
      'size': 'l',
    },
    'close': {
      'label': 'Close this message'|t,
      'icon' : {
        'path': ecl_icon_path,
        'type': 'ui',
        'name': 'close',
        'size': 's',
      }
    },
  } only %}
{% endfor %}
