{#
/**
 * @file
 * Theme template for Person job list extra field.
 *
 * @see \Drupal\oe_theme_content_person\Plugin\ExtraField\Display\PersonJobListExtraField::viewElements()
 */
#}
{% for item in items %}
  {% if item.label %}
    <div class="ecl-u-type-m ecl-u-type-bold ecl-u-mb-xs">{{ item.label }}</div>
  {% endif %}
  {% if item.body %}
    <div class="ecl-u-mb-xs">{{ item.body }}</div>
  {% endif %}
{% endfor %}
