default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\Tests\oe_content\Behat\DateFieldContext
        - Drupal\Tests\oe_content\Behat\MediaCreationContext
        - Drupal\Tests\oe_theme\Behat\DrupalContext
        - Drupal\Tests\oe_theme\Behat\MinkContext
        - Drupal\Tests\oe_theme\Behat\OeThemeTestContext
        - Drupal\Tests\oe_theme\Behat\CleanupContext
        - Drupal\Tests\oe_content\Behat\Content\CorporateContentContext
        - Drupal\Tests\oe_content\Behat\Content\EventContentContext
        - OpenEuropa\Behat\TransformationContext:
            elements:
              about dropdown menu: ".ecl-menu-legacy__item:nth-child(2) .ecl-menu-legacy__mega"
              breadcrumb: "nav.ecl-breadcrumb"
              dropdown content: ".ecl-unordered-list"
              language switcher: ".ecl-language-list"
              language switcher link: ".ecl-site-header__selector"
              language switcher links: ".ecl-language-list--overlay"
              list item: ".ecl-content-item"
              list item image: ".ecl-content-item__image__before"
              logo: ".ecl-site-header__logo-image"
              media container: ".ecl-media-container"
              page header: ".ecl-page-header"
              priorities dropdown menu: ".ecl-menu-legacy__item:nth-child(3) .ecl-menu-legacy__mega"
              search form: ".ecl-search-form"
            pages:
              content management: "/en/admin/content"
              ECL components overview: "/en/components"
              ECL dropdown component: "/en/components/dropdown"
              event creation: "/en/node/add/oe_event"
              image creation: "/en/media/add/image"
              recent content: "/en/node"
              user registration: "/user/register"
              home: "/en"
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      ajax_timeout: 10
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "chrome", "version": "*" }
      base_url: "${drupal.base_url}"
      files_path: "%paths.base%/tests/fixtures/"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
      subcontexts:
          paths:
            - "%paths.base%/build/modules/contrib/datetime_testing"
      region_map:
        about dropdown menu: ".ecl-menu-legacy__item:nth-child(2) .ecl-menu-legacy__mega"
        footer: "footer.ecl-footer"
        header: ".ecl-site-header"
        language dialog: ".ecl-dialog"
        language switcher: ".ecl-language-list"
        language page switcher: ".ecl-page-header .ecl-lang-select-page"
        navigation: ".ecl-menu-legacy"
        page: "body"
        page header: ".ecl-page-header"
        page header site identity: "h2.ecl-u-type-heading-2"
        page header title: ".ecl-page-header .ecl-page-header__title"
        page header intro: ".ecl-page-header .ecl-page-header__description"
        page header meta: ".ecl-page-header .ecl-page-header__meta-list"
        priorities dropdown menu: ".ecl-menu-legacy__item:nth-child(3) .ecl-menu-legacy__mega"
        selected language in the language page switcher: ".ecl-page-header .ecl-lang-select-page .ecl-lang-select-page__option--is-selected"
        unavailable languages in the language page switcher: ".ecl-page-header .ecl-lang-select-page .ecl-lang-select-page__unavailable"
        Online link: "#edit-oe-event-online-link-0"
        Website: "#edit-oe-event-website-0"
        Social media links: "#oe-social-media-links-values"
        Social media follow: ".ecl-social-media-follow"
        Description: "#edit-oe-event-featured-media"
        Event report: "#edit-group-report"
        Event partner: "#edit-oe-event-partner-wrapper"
        Event contact: "#edit-oe-event-contact-wrapper"
    FriendsOfBehat\ServiceContainerExtension:
      imports:
        - 'build/modules/contrib/oe_content/tests/Behat/config/services.yml'
  formatters:
    progress: ~
