default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\Tests\oe_theme\Behat\DrupalContext
        - Drupal\Tests\oe_theme\Behat\MinkContext
        - Drupal\Tests\oe_theme\Behat\TransformationContext:
            elements:
              logo: "a.ecl-logo"
              breadcrumb: "nav.ecl-breadcrumb"
              corporate top block: ".demo-block-footer-corporate-top"
              corporate bottom block: ".demo-block-footer-corporate-bottom"
              custom block: ".demo-block-footer-custom"
              sites switcher: ".demo-block-site-switcher"
              search box: ".demo-block-header-search"
              language switcher: ".ecl-language-list"
              language switcher overlay: ".ecl-dialog__body"
              language switcher link: ".ecl-lang-select-sites__link .ecl-lang-select-sites__label"
              page header: ".ecl-page-header__body"
              about dropdown menu: "#nav-menu-expandable-group-2 .ecl-navigation-menu__links"
              priorities dropdown menu: "#nav-menu-expandable-group-3 .ecl-navigation-menu__links"
            pages:
              user registration: "/user/register"
              ECL components overview: "/en/components"
  extensions:
    Behat\MinkExtension:
      goutte: ~
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "chrome", "version": "*" }
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
      region_map:
        page: "body"
        header: ".ecl-site-header"
        page header: ".ecl-page-header__body"
        navigation: ".ecl-navigation-menu"
        about dropdown menu: "#nav-menu-expandable-group-2"
        priorities dropdown menu: "#nav-menu-expandable-group-3"
        custom footer: ".ecl-footer__custom"
        corporate top footer: ".ecl-footer__corporate-top"
        corporate bottom footer: ".ecl-footer__corporate-bottom"
  formatters:
    progress: ~
