imports:
  - { resource: vendor/openeuropa/code-review/dist/drupal-conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - node_modules/
    - build/
  tasks.phpcs.triggered_by:
    - php
    - module
    - inc
    - theme
    - install

#@todo: fails with "Undefined constant PhpParser\ParserFactory::PREFER_PHP7" re-enable this.
#  extra_tasks:
#    phpparser:
#      ignore_patterns:
#        - vendor/
#        - node_modules/
#        - build/
#      visitors:
#        declare_strict_types: ~
#      triggered_by:
#        - php
#        - module
#        - inc
#        - theme
#        - install
grumphp:
  extensions:
    - OpenEuropa\CodeReview\ExtraTasksExtension
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T web'
