imports:
  - { resource: vendor/openeuropa/code-review/dist/drupal-conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - node_modules/
    - build/
  tasks.phpcs.triggered_by:
    - php
    - module
    - inc
    - theme
    - install

  extra_tasks:
    phpparser:
      ignore_patterns: %tasks.phpcs.ignore_patterns%
      visitors:
        declare_strict_types: ~
      triggered_by: %tasks.phpcs.triggered_by%
  extensions:
    - OpenEuropa\CodeReview\ExtraTasksExtension
