includes:
  - ./vendor/openeuropa/code-review-drupal/dist/phpstan.drupal.neon
parameters:
    parallel:
          maximumNumberOfProcesses: 2
    ignoreErrors:
        -
            identifier: drupal.entityStoragePropertyAssignment
            path: tests/*
        # Backwards compatibility with Drupal versions below 11.3.
        - '#Call to deprecated function theme_get_setting\(\)#'
        - '#Call to deprecated function _responsive_image_build_source_attributes\(\)#'
        - '#Call to deprecated function _responsive_image_image_style_url\(\)#'
