drupal:
  root: "build"
  base_url: "http://web:8080/build"
  database:
    host: "mysql"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  sparql:
    host: "sparql"
    port: "8890"
  site:
    profile: "minimal"
    name: "OpenEuropa"
  post_install:
    - { task: "exec", command: "./vendor/bin/drush en oe_theme_helper -y" }
    - { task: "exec", command: "./vendor/bin/drush theme:enable oe_theme -y" }
    - { task: "exec", command: "./vendor/bin/drush theme:enable claro -y" }
    - { task: "exec", command: "./vendor/bin/drush en oe_theme_content_page oe_theme_content_news oe_theme_content_policy oe_theme_content_publication oe_theme_content_event oe_theme_content_project oe_theme_content_call_tenders oe_theme_content_call_proposals oe_theme_content_consultation oe_theme_content_organisation oe_theme_content_organisation_reference oe_theme_content_person oe_theme_contact_forms oe_theme_paragraphs_contact oe_theme_paragraphs_banner oe_theme_paragraphs_carousel -y" }
    - { task: "exec", command: "./vendor/bin/drush en oe_search oe_corporate_blocks oe_corporate_site_info field_ui config_devel toolbar -y" }
    - { task: "exec", command: "./vendor/bin/drush en oe_multilingual -y" }
    - { task: "exec", command: "./vendor/bin/drush config-set system.theme default oe_theme -y" }
    - { task: "exec", command: "./vendor/bin/drush config-set system.theme admin claro -y" }
    - { task: "exec", command: "./vendor/bin/drush config-set node.settings use_admin_theme 1 -y" }
    - { task: "exec", command: "./vendor/bin/drush config-set user.settings register visitors -y" }
    - { task: "exec", command: "./vendor/bin/drush cr" }
  additional_settings: |
        if (isset($config['system.performance']['cache']['page']['max_age'])) {
          unset($config['system.performance']['cache']['page']['max_age']);
        }
        $settings['file_scan_ignore_directories'] = array('vendor', 'build', 'node_modules', 'bower_components');
        $settings['file_private_path'] = 'sites/default/files/private';
        $settings['extension_discovery_scan_tests'] = TRUE;
        $databases['sparql_default']['default'] = [
          'host' => 'sparql',
          'port' => '8890',
          'namespace' => 'Drupal\sparql_entity_storage\Driver\Database\sparql',
          'driver' => 'sparql',
        ];

selenium:
  host: "http://selenium"
  port: "4444"
  browser: "chrome"

commands:
  drupal:site-setup:
    - { task: "exec", command: "bash ./scripts/build-ecl-pipeline.sh" }
    - { task: "run", command: "drupal:symlink-project" }
    - { task: "symlink", from: "${drupal.root}/core/.stylelintrc.json", to: ".stylelintrc.json" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
    - { task: "run", command: "setup:behat" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
    - { task: "remove", file: "build/sites/default/settings.testing.php" }
    - task: "append"
      file: "build/sites/default/settings.testing.php"
      text: |
          <?php
              $settings['extension_discovery_scan_tests'] = TRUE;
              $databases['sparql_default']['default'] = [
                'host' => 'sparql',
                'port' => '8890',
                'namespace' => 'Drupal\sparql_entity_storage\Driver\Database\sparql',
                'driver' => 'sparql',
              ];
  setup:phpunit9:
    - { task: "process", source: "phpunit9.xml.dist", destination: "phpunit.xml" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
  toolkit:code-review:
      - { task: "exec", command: "./vendor/bin/grumphp run --verbose" }
  toolkit:test-phpunit:
    - { task: "run", command: "toolkit:test-phpunit-batches" }
release:
  tasks:
    - { task: "remove", file: "oe_theme/js" }
    - { task: "remove", file: "oe_theme/templates" }
    - { task: "copy", from: "css", to: "oe_theme/css" }
    - { task: "copy", from: "dist", to: "oe_theme/dist" }
    - { task: "copy", from: "images", to: "oe_theme/images" }
    - { task: "copy", from: "js", to: "oe_theme/js" }
    - { task: "copy", from: "templates", to: "oe_theme/templates" }
    - { task: "copy", from: "components", to: "oe_theme/components" }
    - task: "append"
      file: "oe_theme/oe_theme.info.yml"
      text: |

        # Information added by OpenEuropa packaging script on ${release.date} at ${release.time}.
        project: oe_theme
        version: ${release.version}
        datestamp: ${release.timestamp}

toolkit:
  npm:
    theme-task-runner: ecl-builder

  build:
    custom-code-folder: '${drupal.root}/modules/custom'
  lint:
    eslint:
      options_yaml: 'no-error-on-unmatched-pattern'
      options_js: 'no-error-on-unmatched-pattern'
  test:
    phpstan:
      config: phpstan.neon.dist
    phpunit:
      execution: parallel
      batches:
        - batch1
        - batch2
        - batch3

  ci:
    PHP:
      - 8.3
    DRUPAL:
      - ~10.4.0
      - ~10.5.0
      - ~11.1.0
    PUBLISH: false
    BEHAT: true
    PHPUNIT: true
    SELENIUM: true
    SELENIUM_VERSION: 4.1.3-20220405
    SPARQL: true
    SPARQL_VERSION: 1.47.0
