drupal:
  root: "build"
  base_url: "http://web:8080/build"
  database:
    host: "mysql"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  sparql:
    host: "sparql"
    port: "8890"
  site:
    profile: "minimal"
    name: "OpenEuropa"
  post_install:
    - "./vendor/bin/drush en oe_theme_helper oe_multilingual oe_search oe_corporate_blocks oe_content oe_content_page oe_theme_content_page oe_theme_content_news -y"
    - "./vendor/bin/drush en config_devel toolbar -y"
    - "./vendor/bin/drush theme:enable oe_theme -y"
    - "./vendor/bin/drush theme:enable seven -y"
    - "./vendor/bin/drush config-set system.theme default oe_theme -y"
    - "./vendor/bin/drush config-set system.theme admin seven -y"
    - "./vendor/bin/drush config-set node.settings use_admin_theme 1 -y"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"
    databases:
      sparql_default:
        default:
          prefix: ""
          host: ${drupal.sparql.host}
          port: ${drupal.sparql.port}
          namespace: 'Drupal\Driver\Database\sparql'
          driver: 'sparql'
selenium:
  host: "http://selenium"
  port: "4444"

commands:
  drupal:site-setup:
    - { task: "symlink", from: "../../..", to: "${drupal.root}/themes/custom/oe_theme" }
    - { task: "symlink", from: "${drupal.root}/core/.stylelintrc.json", to: ".stylelintrc.json" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
    - { task: "run", command: "setup:behat" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }

release:
  tasks:
    - { task: "remove", file: "oe_theme/js" }
    - { task: "remove", file: "oe_theme/templates" }
    - { task: "copy", from: "css", to: "oe_theme/css" }
    - { task: "copy", from: "fonts", to: "oe_theme/fonts" }
    - { task: "copy", from: "images", to: "oe_theme/images" }
    - { task: "copy", from: "js", to: "oe_theme/js" }
    - { task: "copy", from: "templates", to: "oe_theme/templates" }
    - task: "append"
      file: "oe_theme/oe_theme.info.yml"
      text: |

        # Information added by OpenEuropa packaging script on ${release.date} at ${release.time}.
        project: oe_theme
        version: ${release.version}
        datestamp: ${release.timestamp}
