drupal:
  root: "build"
  base_url: "http://web:8080/build"
  database:
    host: "mysql"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  post_install:
    - "./vendor/bin/drush en oe_theme_test -y"
    - "./vendor/bin/drush theme:enable oe_theme -y"
    - "./vendor/bin/drush config-set system.theme default oe_theme -y"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"

commands:
  drupal:site-setup:
    - { task: "symlink", from: "../../..", to: "${drupal.root}/themes/custom/oe_theme" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
