{#
/**
 * @file
 * List item block: one column.
 */
#}
{% if title %}
<h3 class="ecl-heading ecl-heading--h3">
  {{ title }}
</h3>
{% endif %}

<ul class="ecl-listing{{ type ? " ecl-listing--" ~ type }}">
  {{ items }}
</ul>

{% if button_label and button_url %}
<div class="ecl-u-clearfix ecl-u-pv-m">
  {% include '@ecl/link' with {
    'link': {
      'type': 'standalone',
      'path': button_url,
      'label': button_label
    },
    'icon': {
      'name': 'caret-right'
    },
    'extra_classes': 'ecl-u-f-r',
  } %}
</div>
{% endif %}
