{% spaceless %}

{#
/**
 * @file
 * Default implementation for the one column list item block component.
 */
#}

{% if title %}
<h3 class="ecl-u-type-heading-3">
  {{ title }}
</h3>
{% endif %}

<ul class="ecl-listing{{ type ? " ecl-listing--" ~ type }}">
  {{ items }}
</ul>

{% if button_label and button_url %}
<div class="ecl-u-clearfix ecl-u-pv-m">
  {% include '@ecl/link' with {
    link: {
      type: 'standalone',
      path: button_url,
      label: button_label
    },
    icon: {
      path: ecl_icon_path,
      type: 'ui',
      name: 'fullscreen',
      size: 's'
    },
    extra_classes: 'ecl-u-f-r'
  } only %}
</div>
{% endif %}

{% endspaceless %}
