{#
/**
 * @file
 * Theme override for a styleguide template.
 *
 *@see ./modules/contrib/styleguide/templates/styleguide-content.html.twig
 */
#}
<h2>{{ "@name styleguide"|t({'@name': theme_info.name}) }}
</h2>
{% if theme_info.description %}
    <p>{{ theme_info.description }}</p>
{% endif %}
<div class="break"><br /></div>
