{% spaceless %}

{#
  /**
   * @file
   * Theme implementation for a ECL Language List Button.
   */
  Parameters:
    - "items" (array) (default: [])
      - "lang" (string) (default: '')
      - "label" (string) (default: '')
      - "path" (string) (default: '')
      - "active (boolean) (default: false)
    - "label" (string): Label of Language List Button
    - "code" (string): Language code of Language List Button
    - "path" (string) (Link url): URL of Language List Button
    - "icon_path" (string) (Link url): Icon Path
    - "extra_classes" (string) (default: '')
    - "extra_attributes" (array) (default: []): format: [
        {
          "name" (string) (default: ''),
          "value" (string) (default: '')
        },
        ...
      ]
    - "_compliance_" (boolean) (default: false) Activates debug
#}

{# Internal properties #}

{% set _label = label|default('') %}
{% set _code = code|default('') %}
{% set _path = path|default('') %}
{% set _icon_path = icon_path|default('') %}
{% set _compliance = _compliance_|default(false) %}

{% set _css_class = 'ecl-site-header__selector' %}
{% set _extra_attributes = [] %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

<a
  class="ecl-link ecl-link--standalone ecl-site-header-core__language-selector"
  href="{{ _path }}"
  data-ecl-language-selector
  aria-controls="language-list-overlay"
  aria-expanded="false"
>
  <span class="ecl-site-header-core__language-icon">
    {% include '@ecl-twig/icon' with {
      icon: {
        path: _icon_path,
        type: 'general',
        name: 'language',
        size: 's'
      },
      extra_classes: 'ecl-site-header-core__icon',
      _compliance_: _compliance,
      _compliance_inner_check_: true
    } only %}
    <span class="ecl-site-header-core__language-code">{{ _code }}</span>
  </span>
  {{- _label -}}
 </a>
{% include '@ecl-twig/language-list/language-list' with {
  items: items,
  icon_path: _icon_path,
  overlay: true,
  title: 'Select your language'|t,
  close_label: 'Close'|t,
  extra_attributes: [
    { name: 'aria-labelledby', value: 'ecl-language-list__title' },
    { name: 'role', value: 'dialog' },
    { name: 'hidden' }
  ],
  _compliance_: _compliance,
  _compliance_inner_check_: true
} only %}
{% endspaceless %}
