{#
/**
 * @file
 * Theme override to display the 'rich text' #type paragraph.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
<div class="ecl-paragraph ecl-paragraph--m">
    {{ content }}
</div>
