{#
/**
 * @file
 * Theme override to display a paragraph #type.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
{% extends "@paragraphs/paragraph.html.twig" %}
{% block paragraph %}
  <div{{ attributes }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
