{#
/**
 * @file
 * Theme override to display the 'content row' type paragraph.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
<div class="ecl-row">
  <div class="ecl-col-md-12">
    {{ content.field_oe_paragraphs }}
  </div>
</div>
