{#
/**
 * @file
 * Theme override to display the "content row" type paragraph in the "inpage" variant.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
<div class="ecl-row">
  <div class="ecl-col-l-3 ecl-u-z-navigation">
    {{ inpage }}
  </div>
  <div class="ecl-col-l-9" data-inpage-navigation-target-block="{{ inpage_id }}" data-inpage-navigation-source-area="h2">
    {{ content.field_oe_paragraphs }}
  </div>
</div>
