{#
/**
 * @file
 * Theme override to display the 'Facts and figures' #type paragraph.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
<h3 class="ecl-u-type-heading-3">
  {{ title }}
</h3>
{{ pattern('facts_figures', {
  'items': items,
  'view_all': view_all
}) }}
