{#
/**
 * @file
 * Theme override to display the "content row" type paragraph in the "inpage" variant.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
{{ attach_library('oe_theme/inpage_navigation') }}
<div class="ecl-row">
  <div class="ecl-col-md-3 ecl-u-z-navigation">
    {% include '@ecl/inpage-navigation' with {
      'title': title,
      'links': links
    } %}
  </div>
  <div class="ecl-col-md-9">
    {{ content.field_oe_paragraphs }}
  </div>
</div>
