{#
/**
 * @file
 * Theme override to display the 'Iframe' paragraph.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}

{% if not paragraph.field_oe_title.isEmpty() %}
  <h2 class="ecl-u-type-heading-2">{{ content.field_oe_title }}</h2>
{% endif %}

{% if iframe is not empty %}
  {% include '@ecl-twig/media-container' with {
    'embedded_media': iframe|default(''),
    'ratio': ratio,
    'full_width': full_width,
  } %}
{% endif %}
