{#
/**
 * @file
 * Theme override for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - element: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
<div id="event-details" class="ecl-row">
  <div class="ecl-col-12 ecl-col-m-6">
    {% block primary_details %}
      {{ element.extra_field_oe_theme_content_event_summary }}
      {{ element.extra_field_oe_theme_content_event_registration_button }}
    {% endblock %}
  </div>
  <div class="ecl-col-12 ecl-col-m-6 ecl-u-mt-l ecl-u-mt-m-none">
    {% block secondary_details %}
      {{ element.extra_field_oe_theme_content_event_details }}
    {% endblock %}
  </div>
  {% if element.extra_field_oe_theme_content_event_media %}
    <div class="ecl-col-12">
      {% block media_gallery %}
        {{ element.extra_field_oe_theme_content_event_media }}
      {% endblock %}
    </div>
  {% endif %}
</div>
