{#
/**
 * @file
 * Stakeholder field group theme implementation.
 *
 * @see ./modules/contrib/field_group/templates/field-group-html-element.html.twig
 */
#}

<div id="project-stakeholder">
  {% if title %}
    <h2 class="ecl-u-type-heading-2 ecl-u-type-color-black ecl-u-mt-2xl ecl-u-mt-md-3xl ecl-u-mb-l">
      {{ title }}
    </h2>
  {% endif %}

  {{ element.oe_project_coordinators }}
  {{ element.oe_project_participants }}
</div>
