{#
/**
 * @file
 * Theme override for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - element: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
{% if element.group_practical_information is not empty or element.oe_social_media_links is not empty %}
  <div id="event-practical-information">
    <h2 class="ecl-u-type-heading-2 ecl-u-type-color-black ecl-u-mt-2xl ecl-u-mt-md-3xl ecl-u-mb-l">{{ 'Practical information'|t }}</h2>
    <div class="ecl-row">
      <div class="ecl-col-12 ecl-col-m-6">
        {{ element.group_practical_information }}
        {{ element.oe_social_media_links }}
      </div>
    </div>
  </div>
{% endif %}
