{#
/**
 * @file
 * Theme override for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - element: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
<div id="project-details" class="ecl-row">
  <div class="ecl-col-12 ecl-col-md-6">
    {{ element.body }}
  </div>
  <div class="ecl-col-12 ecl-col-md-6 ecl-u-mt-l ecl-u-mt-md-none">
    {{ element.group_details }}
    {{ element.group_budget }}
    {{ element.group_resources }}
  </div>
</div>
