{#
/**
 * @file
 * Project results fieldgroup html element.
 *
 * @see ./modules/contrib/field_group/templates/field-group-html-element.html.twig
 */
#}
<div id="project-results">
  <div class="ecl-row">
    <div class="ecl-col-6">
      {% if title %}
        <h2 class="ecl-u-type-heading-2">{{ title }}</h2>
      {% endif %}
      {{ element.oe_project_results }}
    </div>
  </div>
  {{ element.oe_project_result_files }}
</div>
