{#
/**
 * @file
 * Theme override to display a Person node in the Openeuropa Compact Teaser view mode.
 */
#}
<article class="ecl-u-d-flex ecl-u-pv-m ecl-u-border-bottom ecl-u-border-color-grey-15">
  <div role="img" class="ecl-u-flex-shrink-0 ecl-u-mr-s ecl-u-media-a-s ecl-u-media-bg-size-contain ecl-u-media-bg-repeat-none " style="background-image:url({{ content.portrait_image }})"></div>
  <div class="ecl-u-flex-grow-1">
    <div class="ecl-content-item__meta ecl-u-type-s ecl-u-type-color-grey-75 ecl-u-mb-xs">{{ content.oe_person_jobs }}</div>
    <p class="ecl-u-type-paragraph ecl-u-type-color-grey-100 ecl-u-mt-xs ecl-u-mb-none ecl-u-type-bold">{{ label }}</p>
  </div>
</article>
