{#
/**
 * @file
 * Theme override to display in-page navigation with image.
 *
 * @see ./modules/oe_theme_helper/templates/oe-theme-helper-in-page-navigation.html.twig
 */
#}
{% extends "oe-theme-helper-in-page-navigation.html.twig" %}

{# Replace block navigation #}
{% block navigation %}
  <div class="ecl-col-12 ecl-col-lg-3">
    {% if image %}
      <div class="ecl-u-mb-l">
        {% include '@ecl-twig/media-container' with {
          'image': image.src,
          'alt': image.alt,
          'extra_classes': 'ecl-u-bg-white'
        } %}
      </div>
    {% endif %}
    {% if _links %}
      {% include '@ecl-twig/inpage-navigation' with {
        'title': title,
        'links': _links,
        'icon_path': ecl_icon_path
      } %}
    {% endif %}
  </div>
{% endblock %}
