{#
/**
 * @file
 * Theme override to display in-page navigation with image.
 *
 * @see ./modules/oe_theme_helper/templates/oe-theme-helper-in-page-navigation.html.twig
 */
#}
{% extends "oe-theme-helper-in-page-navigation.html.twig" %}

{# Replace block navigation #}
{% block navigation %}
  {% if image %}
    <div class="ecl-u-mb-l">
      {% include '@ecl-twig/twig-component-media-container/media-container.html.twig' with {
        'image': image.src,
        'alt': image.alt,
        'extra_classes': 'ecl-u-bg-white'
      } %}
    </div>
  {% endif %}
  {% if _links %}
    {% include '@ecl-twig/twig-component-inpage-navigation/inpage-navigation.html.twig' with {
      'title': title,
      'links': _links,
      'icon_path': ecl_icon_path
    } %}
  {% endif %}
{% endblock %}
