{#
/**
 * @file
 * Call for proposals node information field group.
 */
#}
{% extends '@oe_theme/patterns/field_list/pattern-field-list.html.twig' %}
{% block content %}
  <div class="ecl-u-mt-m">
    {{ parent() }}
  </div>
{% endblock %}
