{#
/**
 * @file
 * Extends field list pattern.
 */
#}
{% extends '@oe_theme/patterns/field_list/pattern-field-list.html.twig' %}
{% block content %}
  <div class="ecl-u-mb-m">{{ parent() }}</div>
{% endblock %}
