{#
/**
 * @file
 * Extends field list pattern for the Contact information group on the Contact entity default view display.
 */
#}
{% extends '@oe_theme/patterns/field_list/pattern-field-list.html.twig' %}
{% block content %}
  <div class="ecl-u-mv-l">
    {{ parent() }}
  </div>
{% endblock %}
