{#
/**
 * @file
 * Call for proposals node results field group.
 */
#}
{% extends '@oe_theme/patterns/field_list/pattern-field-list.html.twig' %}
{% block content %}
  <div class="ecl-u-border-top ecl-u-border-bottom {{ ecl_class_border_color() }} ecl-u-mt-l ecl-u-mb-l ecl-u-pt-l ecl-u-pb-l">
    {{ parent() }}
  </div>
{% endblock %}
