{#
/**
 * @file
 * Featured item pattern.
 */
#}
{% set _length = length|default(0) %}

{# Prepare the title as a link or simple string. #}
{% if link.href is not empty %}
  {% set _title = {
    link: {
      type: 'standalone',
      label: title,
      path: link.href,
      external: external_link,
      icon_path: ecl_icon_path
    }
  } %}
  {#
  In order to replicate the extended functionality we add a button
  at the end of the description if the variant is set to "extended".
  #}
  {% if variant == 'extended' %}
    {% set _description %}
      {% if description %}
        <p class="ecl-paragraph">
          {{ description|smart_trim(_length) }}
        </p>
      {% endif %}
      <a href="{{ link.href }}" class="ecl-button ecl-button--call">
        <span class="ecl-button__container">
          <span class="ecl-button__label">{{ link.label }}</span>
          {% include '@ecl-twig/icon' with {
            icon: {
              path: ecl_icon_path,
              name: external_link ? "external" : "corner-arrow",
              size: "xs",
              transform: external_link ? "" : "rotate-90"
            },
            extra_classes: "ecl-button__icon ecl-button__icon--after"
          } only %}
        </span>
      </a>
    {% endset %}
  {% endif %}
{% else %}
  {% set _title = title %}
{% endif %}

{% if ecl_component_library == 'eu' %}
  {% set icon_size = 'm' %}
{% else %}
  {% set icon_size = 'xs' %}
{% endif %}
{% set _footer_items = [] %}
{% for item in footer_items %}
  {% set _footer_items = _footer_items|merge([{
    'label': item.text,
    'icon': to_ecl_icon(item.icon, icon_size),
  }]) %}
{% endfor %}

{% set _picture = [] %}
{% if image.src is not empty %}
  {% set _picture = {
    img: {
      src: image.src|default(''),
      alt: image.alt|default(''),
    }
  } %}
{% endif %}
{{ contextual_links }}
{% include '@ecl-twig/card' with {
  'description': _description|default(description|smart_trim(_length)),
  'primary_meta': metas,
  'title': _title,
  'secondary_meta': _footer_items,
  'picture': _picture,
  'labels': badges,
  'extra_attributes': extra_attributes|default([]),
} %}
