{#
/**
 * @file
 * Theme override for the status extra field on tender content type.
 *
 * @see \Drupal\oe_theme_content_tender\Plugin\ExtraField\Display\TenderStatusExtraField::viewElements()
 */
#}
<span class="tender-status ecl-u-text-uppercase">{{ label }}</span>
