{#
/**
 * @file
 * Default template for the 'oe_theme_helper_address_inline' address formatter.
 *
 * Available variables:
 *   - address: Address object.
 *   - address_items: Address items.
 *   - address_delimiter: Delimiter between address items.
 *
 * @ingroup themeable
 */
#}
{%
  set ordered_address = []
%}

{% for address_elem in ['addressLine1', 'addressLine2', 'postalCode', 'locality'] %}
  {% if address_items[address_elem] %}
    {% set ordered_address = ordered_address|merge([address_items[address_elem]]) %}
  {% endif %}
{% endfor %}

<p class="address" translate="no">
  {{ ordered_address|join(address_delimiter) }}
</p>
