{#
/**
 * @file
 * Theme override for the status extra field as call status.
 *
 * @ingroup themeable
 */
#}
{% if name != 'not_available' %}
  {% if name == 'upcoming' %}
    {% set background_class = ' ecl-label--medium' %}
  {% elseif name == 'open' %}
    {% set background_class = ' ecl-label--high' %}
  {% elseif name == 'closed' %}
    {% set background_class = ' ecl-label--low' %}
  {% endif %}
  <span class="call-status ecl-label ecl-u-text-uppercase ecl-u-type-color-black{{ background_class }}">{{ label }}</span>
{% endif %}
