{#
/**
 * @file
 * Default theme implementation for a field group "In page navigation item".
 *
 * Available variables:
 * - element: elements to render.
 * - title: Title of the group.
 * - children: The children of the group.
 * - entity: The rendering object.
 *
 * @see template_preprocess_oe_theme_helper_in_page_navigation_item()
 *
 * @ingroup themeable
 */
#}
{% set title_attribute = create_attribute({
  'class': [
    'ecl-u-type-heading-2',
    'ecl-u-type-color-black',
    'ecl-u-mt-none',
    'ecl-u-mb-m'
  ]
}) %}
<h2 {{ title_attribute }}>{{ title }}</h2>
{{ children }}
