{#
/**
 * @file
 * Theme implementation for "Social media links" formatter.
 *
 * Available variables:
 * - content: Theme content.
 *
 * @ingroup themeable
 */
#}
<div class="ecl-u-mt-l">
  {{ content }}
</div>
