{% spaceless %}

{#
  /**
   * @file
   * Theme implementation for a ECL list of icons with text.
   *
   * Parameters:
   *   - "items" (array) (default: [])
   *     - "icon" (string) (default: 'file')
   *     - "text" (string) (default: '')
   */
#}

{# Internal properties #}

{% set _icon_path = icon_path|default('') %}

{# Print the result #}

{% if items %}
<ul class="ecl-unordered-list ecl-unordered-list--no-bullet">
  {% for _item in items if _item.text %}
    <li class="ecl-u-d-flex ecl-u-align-items-center ecl-unordered-list__item{{ not loop.first ? ' ecl-u-mt-l' }}">
      {% include '@ecl-twig/icon' with {
        icon: {
          path: _icon_path,
          type: 'general',
          name: _item.icon|default('file')
        },
        extra_classes: 'ecl-u-mr-s'
      } only %}{{- _item.text -}}
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endspaceless %}
