@use "sass:map";
@use '@ecl/theme-dev/theme';
@use '@ecl/vanilla-layout-grid/mixins/breakpoints';
.ecl-page-banner--full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  // Fix page and hero banner text block left alignment.
  @include breakpoints.up('lg') {
    .ecl-page-banner__container {
      width: map.get(theme.$container, 'l');
    }
    .ecl-hero-banner__container {
      width: map.get(theme.$container, 'l');
    }
  }
  @include breakpoints.up('xl') {
    .ecl-page-banner__container {
      width: map.get(theme.$container, 'xl');
    }
    .ecl-hero-banner__container {
      width: map.get(theme.$container, 'xl');
    }
  }
}
