// Small banner - ratio 5:1
.ecl-banner--s .ecl-banner__image,
.ecl-banner--s .ecl-banner__video {
  aspect-ratio: 5/1;

  --css-aspect-ratio: 5/1;
}

// Large banner - ratio 3:1
.ecl-banner--l .ecl-banner__image,
.ecl-banner--l .ecl-banner__video {
  aspect-ratio: 3/1;

  --css-aspect-ratio: 3/1;
}
