.ecl-contextual-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.ecl-contextual-navigation__label {
  color: var(--ecl-color-dark-100);
  font: var(--ecl-font-m);
  margin-right: var(--ecl-spacing-xl);
}

.ecl-contextual-navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.ecl-contextual-navigation__item {
  display: block;
}

.ecl-contextual-navigation__item--more {
  display: none;
}
