.ecl-description-list__definition {
  // Remove margin left to avoid overflow.
  #project-details & {
    margin-left: 0;
  }
  .ecl-description-list--horizontal & {
    @include ecl-media-breakpoint-up('lg') {
      width: 312px;
    }
  }

  #project-details & + & {
    margin-top: 16px;
    @include ecl-media-breakpoint-up('xl') {
      margin-left: 174px;
    }
  }
}
