@use '@ecl/vanilla-layout-grid/mixins/breakpoints';

$outline-width: 3px !default;
$border_right: 1px solid var(--ecl-color-neutral-60) !default;

.ecl-contextual-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.ecl-contextual-navigation__label {
  color: var(--ecl-color-dark-100);
  font: var(--ecl-font-m);
}

.ecl-contextual-navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  margin-top: var(--ecl-spacing-s);
  padding-left: 0;
}

.ecl-contextual-navigation__item {
  border-right: $border_right;
  display: block;
  margin-right: var(--ecl-spacing-s);
  padding-right: var(--ecl-spacing-s);
}

.ecl-contextual-navigation__item:last-child {
  border-right-width: 0;
  margin-right: 0;
  padding-right: 0;
}

.ecl-contextual-navigation__item--collapsed {
  display: none;

  .no-js & {
    display: block;
  }
}

.ecl-contextual-navigation__item--more {
  .no-js & {
    display: none;
  }
  button.ecl-contextual-navigation__more:focus {
    outline: 3px solid var(--ecl-color-secondary);
  }
}

.ecl-contextual-navigation__list[aria-expanded='true'] {
  .ecl-contextual-navigation__item--collapsed {
    display: block;
  }
}

.ecl-contextual-navigation__more {
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--ecl-color-primary);
  line-height: 1;
  padding: 0;
  font-family: arial, sans-serif;

  &:hover {
    color: var(--ecl-color-dark-100);
  }

  &:focus {
    color: var(--ecl-color-dark-100);
    outline-offset: 2px;
  }
}

@include breakpoints.up('sm') {
  .ecl-contextual-navigation {
    flex-direction: row;
  }

  .ecl-contextual-navigation__label {
    margin-right: var(--ecl-spacing-4xl);
  }

  .ecl-contextual-navigation__list {
    margin-top: 0;
  }
}
