/**
 * @file
 * Add a featured modifier to ECL description list style.
 */
@use '@ecl/vanilla-utility-border/border' as *;
$background-color: var(--ecl-color-neutral-40) !default;
$border-color: var(--ecl-color-neutral-40) !default;

.ecl-description-list--featured {
  border: 1px solid $border-color;
  background-color: $background-color;
  padding: var(--ecl-spacing-s);
}
