/**
 * @file
 * Apply styling of 'dropdown-legacy' component to 'expandable'.
 */
$background-color: var(--ecl-color-neutral-20) !default;
$border-color: var(--ecl-color-neutral-60) !default;
.ecl-expandable-dropdown__content {
  background-color: $background-color;
  border: 1px solid $border-color;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  padding: var(--ecl-spacing-s) var(--ecl-spacing-m);
}

.no-js .ecl-expandable-dropdown__content {
  display: block;
}
