.main-content {
  .password-strength {
    .is-weak {
      background-color: var(--ecl-color-error);
    }

    .is-fair {
      background-color: var(--ecl-color-warning);
    }

    .is-good,
    .is-strong {
      background-color: var(--ecl-color-success);
    }
  }

  /* @see @ec-europa/ecl-forms-help-blocks/_help-blocks.scss */
  .password-strength .password-strength__title,
  .password-suggestions.description,
  .password-confirm,
  .filter-help {
    // TODO: The help form component is not available on ECL v3.
    //@extend .ecl-help-block;
  }
}

/**
 * Required field
 */
.form-required:after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../images/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}

// Align "Apply" botton in moderation block.
.entity-moderation-form {
  .ecl-button {
    margin-bottom: 1em;
  }
}
