.main-content {
  .password-strength {
    .is-weak {
      background-color: map-get($ecl-colors, 'error');
    }

    .is-fair {
      background-color: map-get($ecl-colors, 'warning');
    }

    .is-good,
    .is-strong {
      background-color: map-get($ecl-colors, 'success');
    }
  }

  /* @see @ec-europa/ecl-forms-help-blocks/_help-blocks.scss */
  .password-strength .password-strength__title,
  .password-suggestions.description,
  .password-confirm,
  .filter-help {
    @extend .ecl-help-block;
  }
}
