@import '@ecl/ec-base/ec-base';
// Apply global css.

body {
  font-family: $ecl-font-family;
  // Have been added as a workaround for solving the problem of Page banner with full width on page with other full-width elements.
  overflow-x: hidden;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  color: $ecl-color-blue;
}

.ecl-editor {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
