@import '@ecl/ec-base/ec-base';
// Apply global css.

body {
  font-family: $ecl-font-family;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  color: $ecl-color-blue;
}

.ecl-page-header-standardised .ecl-content-language-switcher--standardised {
  border-bottom: 1px solid #bfd0e4!important;
  color: #707070;
}
