@use "sass:map";
@use '@ecl/theme-dev/theme';
// Apply global css.

body {
  font-family: map.get(theme.$font-family, 'default');
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  color: map.get(theme.$color, 'blue');
}

.ecl-editor {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
