// Apply global css.

$font-family: null !default;
$background-color: null !default;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  color: var(--ecl-color-primary-100);
}

.ecl {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.ecl-u-shadow-none {
  box-shadow: none!important;
}
