.ecl-content-item-date,
.ecl-content-item {
  .ecl-media-container {
    background-color: transparent;
    @include ecl-media-breakpoint-up('md') {
      width: 180px;
    }
    @include ecl-media-breakpoint-up('lg') {
      width: 220px;
    }
  }
  &__meta {
    text-transform: uppercase;
  }
  &__description {
    p {
      margin: 0;
    }
  }
}

.ecl-content-item {
  &__image__before {
    @include ecl-media-breakpoint-up('md') {
      margin-right: $ecl-spacing-l;
    }
    @include ecl-media-breakpoint-up('lg') {
      margin-right: $ecl-spacing-xl;
    }
  }
  &__image__after {
    @include ecl-media-breakpoint-up('md') {
      margin-left: $ecl-spacing-l;
    }
    @include ecl-media-breakpoint-up('lg') {
      margin-left: $ecl-spacing-xl;
    }
  }
}
