/**
 * @file
 * Media Iframe specific styles.
 */
.media-iframe-wrapper {
  display: inline-block;
  margin: 0;
  background-color: #ebebeb;

  .ecl-media-container__media {
    display: flex;
  }

  .ecl-media-container__caption {
    display: flex;

    > div {
      flex-grow: 1;
      width: 0;
    }
  }
}
