/**
 * @file
 * Media Iframe specific styles.
 */
.ecl-media-container--custom-ratio {
  display: inline-block;

  .ecl-media-container__media--ratio-custom {
    display: flex;
  }

  .ecl-media-container__caption {
    display: flex;

    > div {
      flex-grow: 1;
      width: 0;
    }
  }
}
