<div class="ecl-row demo-block-footer-identity">
  <div class="ecl-col-sm ecl-footer__column">
    <h4 class="ecl-h4">
      <a class="ecl-link ecl-footer__link" href="#">Digital single market</a>
    </h4>
  </div>
  <div class="ecl-col-sm ecl-footer__column">
    <p class="ecl-footer__label">Follow us:</p>
    <ul class="ecl-footer__menu ecl-list--inline ecl-footer__social-links">
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span>Facebook</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span>Twitter</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link ecl-link--external" href="#">Other social media</a>
      </li>
    </ul>
  </div>
  <div class="ecl-col-sm ecl-footer__column">
    <ul class="ecl-footer__menu ecl-list--unstyled">
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="#">Contact</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="#">Site map</a>
      </li>
    </ul>
  </div>
</div>
