<div class="ecl-row demo-block-footer-custom">
  <div class="ecl-footer__column ecl-col-md">
    <h2 class="ecl-heading ecl-heading--h4 ecl-u-mt-xxxs ecl-u-mb-none">
      <a class="ecl-link ecl-link--standalone ecl-footer__link ecl-footer__custom-title" href="#">Digital single market</a>
    </h2>
  </div>
  <div class="ecl-footer__column ecl-col-md">
    <p class="ecl-footer__custom-label">Follow us:</p>
    <ul class="ecl-list ecl-list--inline ecl-footer__list ecl-footer__list--inline ecl-footer__social-links ecl-u-d-inline">
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span><span>Facebook</span></a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span><span>Twitter</span></a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--external ecl-footer__link" href="#">Other social media</a>
      </li>
    </ul>
  </div>
  <div class="ecl-footer__column ecl-col-md">
    <ul class="ecl-list ecl-list--unstyled ecl-footer__list">
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-footer__link" href="#">Contact</a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-footer__link" href="#">Site map</a>
      </li>
    </ul>
  </div>
</div>

        
