<div class="ecl-row demo-block-footer-corporate-top">
  <div class="ecl-footer__column ecl-col-md">
    <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-about-ec">European Commission</h2>
    <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-about-ec">
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://ec.europa.eu/commission/index_en">Commission and its priorities</a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://ec.europa.eu/info/index_en">Policies information and services</a>
      </li>
    </ul>
  </div>
  <div class="ecl-footer__column ecl-col-md">
    <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-social-media">Follow the European Commission</h2>
    <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-footer__list ecl-footer__list--inline  ecl-footer__social-links" aria-labelledby="footer-corporate-social-media">
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span><span>Facebook</span></a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span><span>Twitter</span></a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-link--external ecl-footer__link" href="#">Other social media</a>
      </li>
    </ul>
  </div>
  <div class="ecl-footer__column ecl-col-md">
    <h2 class="ecl-heading ecl-heading--h4 ecl-footer__column-title" id="footer-corporate-about-eu">European Union</h2>
    <ul class="ecl-list ecl-list--unstyled ecl-footer__list" aria-labelledby="footer-corporate-about-eu">
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="#">EU institutions</a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="#">European Union</a>
      </li>
    </ul>
  </div>
</div>
