<div class="ecl-row">
  <div class="ecl-col-sm">
    <ul class="ecl-list--inline ecl-footer__menu">
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/about-commissions-new-web-presence_en">About the Commission's new web presence</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/resources-partners_en">Resources for partners</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/cookies_en">Cookies</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/legal-notice_en">Legal notice</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="http://ec.europa.eu/info/contact_en">Contact</a>
      </li>
    </ul>
  </div>
</div>
