<div class="ecl-row">
  <div class="ecl-col-sm ecl-footer__column">
    <h4 class="ecl-h4 ecl-footer__title">European Commission</h4>
    <ul class="ecl-footer__menu">
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="https://ec.europa.eu/commission/index_en">Commission and its priorities</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="https://ec.europa.eu/info/index_en">Policies information and services</a>
      </li>
    </ul>
  </div>
  <div class="ecl-col-sm ecl-footer__column">
    <h4 class="ecl-h4 ecl-footer__title">Follow the European Commission</h4>
    <ul class="ecl-footer__menu ecl-list--inline ecl-footer__social-links">
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span>Facebook</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link" href="#"><span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span>Twitter</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link ecl-link--external" href="#">Other social media</a>
      </li>
    </ul>
  </div>
  <div class="ecl-col-sm ecl-footer__column">
    <h4 class="ecl-h4 ecl-footer__title">European Union</h4>
    <ul class="ecl-footer__menu">
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link ecl-link--external" href="#">EU institutions</a>
      </li>
      <li class="ecl-footer__menu-item">
        <a class="ecl-link ecl-footer__link ecl-link--external" href="#">European Union</a>
      </li>
    </ul>
  </div>
</div>
