{#
/**
 * @file
 * Theme template for Publication description extra field.
 *
 * @see \Drupal\oe_theme_content_publication\Plugin\ExtraField\Display\PublicationDescription::viewElements()
 */
#}
<div class="ecl-row">
  {% if body is not empty %}
    <div class="ecl-col-12 ecl-col-m-9 ecl-u-mb-l">{{ body }}</div>
  {% endif %}
  {% if image is not empty %}
    <div class="ecl-col-12 ecl-col-m-3">
      {% include '@ecl-twig/media-container' with {
        'picture': {
          'img': {
            'src': image.src,
            'alt': image.alt,
          },
        },
        'extra_classes': ecl_class_background_color()
      } %}
    </div>
  {% endif %}
</div>
