{#
/**
 * @file
 * Theme template for Publication description extra field.
 *
 * @see \Drupal\oe_theme_content_publication\Plugin\ExtraField\Display\PublicationDescription::viewElements()
 */
#}
<div class="ecl-row">
  {% if body is not empty %}
    <div class="ecl-col-12 ecl-col-md-8">{{ body }}</div>
  {% endif %}
  {% if image is not empty %}
    <div class="ecl-col-12 ecl-col-md-3">{{ image }}</div>
  {% endif %}
</div>
