{#
/**
 * @file
 * Theme override for the 'oe_theme_helper_in_page_navigation' in-page navigation.
 *
 * @see modules/oe_theme_helper/templates/oe-theme-helper-in-page-navigation.html.twig
 */
#}
{% set _items = [] %}
{% for item in items %}
  {#
  We need to pre-render each item content so to establish if to show its related navigation link.
  This will only work if Twig debug is set to "false" since, otherwise, the element will contain
  debug HTML comments, which make the element not empty.
  #}
  {% set content = item.content|render %}
  {% if content|trim is not empty %}
    {% set _items = _items|merge([{
      id: item.id,
      href: '#' ~ item.id,
      label: item.label,
      content: content
    }]) %}
  {% endif %}
{% endfor %}

{% for item in _items %}
  <div{{ not loop.last ? ' class="ecl-u-mb-2xl"' }}>
    <h2 id="{{ item.id }}" class="ecl-u-type-heading-2 ecl-u-mt-none ecl-u-mb-l">{{ item.label }}</h2>
    {{ item.content }}
  </div>
{% endfor %}
