image.effect.retina_image_scale:
  type: image.effect.image_scale
  label: 'Retina Image scale'
  mapping:
    multiplier:
      type: integer
      label: 'Multiplier'

field.formatter.settings.oe_theme_helper_address_inline:
  type: mapping
  label: 'Address inline formatter settings'
  mapping:
    delimiter:
      type: string
      label: 'Delimiter for address items.'

field.formatter.settings.oe_theme_helper_media_thumbnail_url:
  type: mapping
  label: 'Media thumbnail URL formatter settings'
  mapping:
    image_style:
      type: string
      label: 'Image style'

field_group.field_group_formatter_plugin.oe_theme_helper_pattern_base:
  type: field_group.field_group_formatter_plugin.base
  label: 'Mapping for the base pattern formatter settings'
  mapping:
    label:
      type: label
      label: 'Field group label'
    variant:
      type: string
      label: 'Pattern variant'

field_group.field_group_formatter_plugin.oe_theme_helper_field_list_pattern:
  type: field_group.field_group_formatter_plugin.oe_theme_helper_pattern_base
  label: 'Mapping for the field list pattern formatter settings'

field_group.field_group_formatter_plugin.oe_theme_helper_in_page_navigation:
  type: field_group.field_group_formatter_plugin.base
  label: 'Mapping for the In-page navigation field group formatter settings'

field_group.field_group_formatter_plugin.oe_theme_helper_in_page_navigation_item:
  type: field_group.field_group_formatter_plugin.base
  label: 'Mapping for the In-page navigation item field group formatter settings'

field.formatter.settings.oe_theme_helper_social_media_links_formatter:
  type: field.formatter.settings.link
  label: 'Social media link formatter settings'
  mapping:
    title:
      type: label
      label: 'Block title'
    variant:
      type: string
      label: 'Pattern variant'

field.formatter.settings.oe_theme_helper_featured_media_formatter:
  type: mapping
  label: 'Featured media formatter settings'
  mapping:
    image_style:
      type: string
      label: 'Image style'

field.formatter.settings.oe_theme_helper_featured_media_thumbnail_url_formatter:
  type: field.formatter.settings.oe_theme_helper_featured_media_formatter
  label: 'Featured media thumbnail URL settings'

field.formatter.settings.oe_theme_helper_social_media_icons_list_formatter:
  type: field.formatter.settings.link
  label: 'Social media icons list formatter settings'

condition.plugin.oe_theme_helper_current_branding:
  type: condition.plugin
  mapping:
    branding:
      type: string

block.settings.oe_theme_helper_site_navigation:main:
  type: block_settings
  label: 'Site navigation block'
  mapping:
    level:
      type: integer
      label: 'Starting level'

condition.plugin.oe_theme_helper_current_component_library:
  type: condition.plugin
  mapping:
    component_library:
      type: string
