field_group.field_group_formatter_plugin.oe_theme_helper_pattern_base:
  type: field_group.field_group_formatter_plugin.base
  label: 'Mapping for the base pattern formatter settings'
  mapping:
    label:
      type: label
      label: 'Field group label'
    variant:
      type: string
      label: 'Pattern variant'

field_group.field_group_formatter_plugin.oe_theme_helper_field_list_pattern:
  type: field_group.field_group_formatter_plugin.oe_theme_helper_pattern_base
  label: 'Mapping for the field list pattern formatter settings'
