{#
/**
 * @file
 * Theme override project results field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}

<h2 class="ecl-u-type-heading-2">{{ label }}</h2>
<div class="ecl-editor">
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
