@use "sass:map";
@use '@ecl/theme-dev/theme';
.ecl-page-header-core {
  .ecl-lang-select-page {
    &__unavailable_language {
      color: map.get(theme.$color, 'white');
    }
    .ecl-expandable__content {
      .ecl-button {
        color: map.get(theme.$color, 'white');
      }
    }
  }
}
.ecl-page-header-standardised {
  .ecl-lang-select-page {
    &__unavailable_language {
      color: map.get(theme.$color, 'blue');
    }
  }
}
