{#
/**
 * @file
 * Theme override for oe webtools social share block.
 */
#}
<div class="ecl-social-media-share">
  <p class="ecl-social-media-share__description">
    {{ title }}
  </p>
  <script type="application/json">{{ icons_json }}</script>
</div>
