{#
/**
 * @file
 * Theme for the closed text extra field on Consultation content type.
 *
 * @see \Drupal\oe_theme_content_consultation\Plugin\ExtraField\Display\ConsultationClosedTextExtraField::viewElements()
 */
#}
<div class="ecl-editor">
  {{ text }}
</div>
