{#
/**
 * @file
 * Theme override system branding block.
 *
 * @see ./core/modules/system/templates/block.html.twig
 */
#}
<div id="block-oe-theme-tabs" class="ecl-u-mv-l">
  {% include '@oe_theme/blocks/block--bare.html.twig' %}
</div>
