{#
/**
 * @file
 * Theme override for the branding block.
 *
 * @see ./core/modules/system/templates/block--system-branding-block.html.twig
 */
#}
{% block content %}
  <a
    class="ecl-link ecl-link--standalone ecl-site-header__logo-link"
    href="{{ site_logo_href }}"
    aria-label="{{ logo_aria_label }}"
  >
    {% set _picture = [] %}
    {% if ecl_component_library == 'eu' %}
      {% set _picture = _picture|merge({
        sources: [{
          src: ecl_logo_path ~ '/standard-version/positive/logo-eu--' ~ current_language_id|to_internal_language_id ~ '.svg',
          media: 'l'
        }]
      }) %}
      {% set _picture = _picture|merge({
        img: {
          src: ecl_logo_path ~ '/condensed-version/positive/logo-eu--' ~ current_language_id|to_internal_language_id ~ '.svg',
          alt: site_logo_alt,
        },
      }) %}
    {% else %}
      {% set _picture = _picture|merge({
        sources: [{
          src: ecl_logo_path ~ '/positive/logo-ec--' ~ current_language_id|to_internal_language_id ~ '.svg',
          media: 'l'
        }]
      }) %}
      {% set _picture = _picture|merge({
        img: {
          src: ecl_logo_path ~ '/logo-ec--mute.svg',
          alt: site_logo_alt,
        },
      }) %}
    {% endif %}
    {% include '@ecl-twig/picture' with {
      picture: _picture,
      extra_classes: "ecl-site-header__picture",
      extra_image_classes: 'ecl-site-header__logo-image',
      extra_attributes: [{ name: 'title', value: site_logo_title }],
    } only %}
  </a>
{% endblock %}
