{#
/**
 * @file
 * Theme override for the OpenEuropa Multilingual content language switcher block.
 *
 * @see ./core/themes/stable/templates/block/block.html.twig
 */
#}
<div class="ecl-u-bg-blue">
  <div class="ecl-container">
    {% include '@oe_theme/blocks/block--bare.html.twig' %}
  </div>
</div>
