{% spaceless %}
{#
  @file
  Default event list item component.

  Parameters:
    - "title" (string) (default: ''): Title for the list Content Item
    - "url" (string) (default: ''): url path for the title Content Item
    - "detail" (string) (default: ''): Description of Content Item
    - "meta" (array) (default: []): Meta information for the Content Item Date
    - "date" (associative array) (default: {}): Predefined structure compatible with Date block component.
    - "length" (int) (default: 0): Max length of detail field.
    - "additional_information" (array): Additional information to be displayed right below the 'Detail' field.
#}
<article class="ecl-content-item-date ecl-u-d-flex ecl-u-pv-m">
  {% block date %}
    <div class="ecl-content-item-date__date ecl-u-flex-grow-0 ecl-u-mr-m">
      {% include '@oe_theme/compositions/ec-component-date-block/date-block.html.twig' with {
        variant: variant|replace({'_':'-'})|to_date_status,
        week_day: date.week_day,
        day: date.day,
        month_fullname: date.month_fullname,
        month_name: date.month_name,
        month: date.month,
        year: date.year
      } only %}
    </div>
  {% endblock %}
  <div class="ecl-u-flex-grow-1">
    {% block meta %}
      {% if meta is not empty or badges is not empty %}
        <div class="ecl-content-item-date__meta ecl-u-type-s ecl-u-type-color-grey-75 ecl-u-mb-xs">
          {% if badges is iterable %}
            {% set extra_classes = 'ecl-u-mr-xs' %}
            {% for _badge in badges %}
              {% if _badge.variant != 'highlight' %}
                {% set _extra_classes = extra_classes ~ ' ecl-u-type-color-black' %}
              {% endif %}
              {% include '@ecl-twig/label' with {
                'label': _badge.label|t,
                'variant': _badge.variant,
                'extra_classes': _extra_classes|default(extra_classes),
              } only %}
            {% endfor %}
          {% endif %}
          {% if meta is not empty %}
            <div class="ecl-u-mt-xs">
              {{ meta|filter_empty|safe_join(" | ") }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endblock %}
    {% block title %}
      <div class="ecl-content-item-date__title ecl-u-type-heading-5 ecl-u-mb-xs ecl-u-mt-none">
        {%- if url %}
          {% set _link = {
            link: {
              type: 'standalone',
              label: title,
              path: url,
            }
          } %}
          {% if external_link %}
            {% set _link = _link|merge({
              icon: {
                'path': ecl_icon_path,
                'name': 'external',
                'size': 's',
              }
            }) %}
          {% endif %}
          {% include '@ecl-twig/link' with _link only %}
        {% else %}
          {{ title }}
        {%- endif -%}
      </div>
    {% endblock %}
    {% block detail %}
      {% if detail is not empty %}
        <div class="ecl-content-item-date__description ecl-u-type-paragraph ecl-u-mb-s">{{ detail|smart_trim(length) }}</div>
      {% endif %}
    {% endblock %}
    {% block additional_information %}
      {% if additional_information is not empty %}
        {% for item in additional_information %}
          <div class="ecl-content-item__additional_information ecl-u-mb-s">{{ item }}</div>
        {% endfor %}
      {% endif %}
    {% endblock %}
  </div>
</article>
{% endspaceless %}
