{#
/**
 * @file
 * UI Pattern variant meta information.
 */
#}
{% if variant is not empty %}
  <div class="ecl-u-pt-2xl ecl-u-pb-xl">
    {% include '@ecl-twig/twig-component-table/table.html.twig' with {
      zebra: true,
      headers: [
        [
          { 'label': 'Variant'|t },
          { 'label': 'Name'|t },
          { 'label': 'Description'|t }
        ]
      ],
      rows: [{
        cells: [
          { 'label': variant.label, 'data-ecl-table-header': 'Variant'|t },
          { 'label': variant.name, 'data-ecl-table-header': 'Name'|t },
          { 'label': variant.description, 'data-ecl-table-header': 'Description'|t }
        ]
      }]
    } %}
  </div>
{% endif %}
