{% spaceless %}

{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}

{% if pattern is not empty %}
  <div class="ecl-container">
    <div class="ecl-row">
      <div class="ecl-col-12">
        {{ pattern.meta }}
      </div>
    </div>
    <div class="ecl-row">
      {# Rendered pattern preview. #}
      <div class="ecl-u-clearfix ecl-u-pv-xl ecl-col-12" style="{{ pattern.meta['#pattern'].additional.style }}">
        {{ pattern.rendered }}
      </div>
    </div>
  </div>
{% endif %}

{% endspaceless %}
