{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}
{% if pattern is not empty %}
  {% set style = pattern.meta['#pattern'].additional.style %}
  {{ pattern.meta }}

  {# Rendered pattern preview. #}
  <div class="ecl-u-mv-l" style="{{ style }}">
    {{ pattern.rendered }}
  </div>
{% endif %}
