{#
/**
 * @file
 * UI Pattern meta information.
 */
#}
{% if pattern is not empty %}
  {# Pattern name and desciption. #}
  <p class="ecl-u-type-paragraph-m">{{ pattern.description }}</p>

  {# Pattern fields descriptions. #}
  {% set _rows = [] %}
  {% for field in pattern.fields %}
    {% set _rows = _rows|merge([
      { data: [
        { 'label': field.name, 'data-ecl-table-header': 'Field'|t },
        { 'label': field.label, 'data-ecl-table-header': 'Label'|t },
        { 'label': field.type, 'data-ecl-table-header': 'Type'|t },
        { 'label': field.description, 'data-ecl-table-header': 'Description'|t }
      ]}
    ]) %}
  {% endfor %}
  {% include '@ecl-twig/table' with {
    zebra: true,
    headers: [
      [
        { 'label': 'Field'|t },
        { 'label': 'Label'|t },
        { 'label': 'Type'|t },
        { 'label': 'Description'|t }
      ]
    ],
    rows: _rows
  } %}
{% endif %}
