{#
/**
 * @file
 * Theme override for the Documents field template of the Call for tenders content type.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% for item in items %}
  <div{{ item.attributes.addClass('ecl-u-mt-m') }}>{{ item.content }}</div>
{% endfor %}
