{#
/**
 * @file
 * Publication contactsfield template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<div id="publication-contacts">
  {%- include 'field--bare.html.twig' -%}
</div>
