{#
/**
 * @file
 * Theme override for the field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<div class="ecl-u-mb-l">
  {% for item in items %}
    {{- item.content -}}
  {% endfor %}
</div>
