{#
/**
 * @file
 * Respond button link field in the Consultation content full view mode.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% for item in items %}
  <div class="ecl-u-mt-m">
    {% include '@ecl-twig/link' with {
      link: {
        type: 'cta',
        label: item.content['#title']|default('Respond to the questionnaire'|t),
        path: item.content['#url'],
        external: item.content['#url'].toString()|is_external_url,
        icon_path: ecl_icon_path
      }
    } %}
  </div>
{% endfor %}
