
{#
/**
 * @file
 * Theme override for oe_tender_status extra field.
 *
 * @see ./templates/field/field--bare.html.twig
 */
#}
<span class="ecl-u-text-uppercase">
  {%- include 'field--bare.html.twig' -%}
</span>
