{#
/**
 * @file
 * Field template for oe_theme_content_organisation_teaser_details extra field.
 */
#}
{% for item in items %}
  {% if item.content|render|striptags|trim is not empty %}
    <div{{ not loop.last ? ' class="ecl-u-border-bottom ecl-u-border-color-grey-15 ecl-u-mb-m ecl-u-pb-m"'}}>{{ item.content }}</div>
  {% endif %}
{% endfor %}
