{#
/**
 * @file
 * Theme override for the remote video fields on media items.
 */
#}
{% for item in items %}
  <figure class="ecl-media-container">
    <div class="ecl-media-container__media ecl-media-container__media--ratio-16-9">
      {{ item.content }}
    </div>
  </figure>
{% endfor %}
