{#
/**
 * @file
 * Project Funding field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% if items is not empty %}
  <div id="project-funding">
    <h2 class="ecl-u-type-heading-2 ecl-u-pb-m">{{ label }}</h2>
    <ul class="ecl-unordered-list ecl-unordered-list--divider">
      {% for item in items.0.content %}
        <li class="ecl-unordered-list__item ecl-u-mb-none ecl-u-pb-none ecl-u-mt-m">
          {{ item }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
