{#
/**
 * @file
 * Press contacts field in the Contact entity default view mode.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<div class="ecl-u-border-top ecl-u-border-bottom ecl-u-border-color-grey-15 ecl-u-mt-s ecl-u-pt-l ecl-u-pb-l">
  {% for item in items %}
    {% set path = render_var(item.content['#url']) %}
    {% set link_icon = get_link_icon(path) %}
    {% include '@ecl-twig/link' with {
      link: {
        type: 'standalone',
        label: 'Press contacts'|t,
        path: path,
        icon_position: 'after'
      },
      icon: link_icon
    } %}
  {% endfor %}
</div>
