{#
/**
 * @file
 * Theme override for the text long field template of the rich text paragraph type.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<div class="ecl-paragraph ecl-paragraph--m">
  {%- include 'field--bare.html.twig' -%}
</div>
