{#
/**
 * @file
 * Theme override for the Documents field template of the Call for proposals content type.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<div class="ecl-u-mt-m">
  {%- include 'field--multiple-values.html.twig' -%}
</div>
