{#
/**
 * @file
 * Theme override for the title field template of the description list paragraph type.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<h2 class="ecl-u-type-heading-2">
  {%- include 'field--bare.html.twig' -%}
</h2>
