{#
/**
 * @file
 * News sources field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% set _color = ecl_component_library == 'ec' ? 'neutral-40' : 'primary-10' %}
<h3 class="ecl-u-type-heading-3 ecl-u-mt-3xl">{{ 'Sources'|t }}</h3>
{% for item in items %}
  {% set bubble_cache = item.content|render %}
  <div class="ecl-u-border-bottom ecl-u-border-color-{{ _color }} ecl-u-pt-m ecl-u-pb-m">
    {% include '@ecl-twig/link' with {
      link: {
        type: 'standalone',
        label: item.content['#title'],
        path: item.content['#url'],
        icon_position: 'after'
      },
      icon: get_link_icon(item.content['#url'].toString(), 'xs')
    } %}
  </div>
{% endfor %}
