{#
/**
 * @file
 * Project result files field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<div class="ecl-u-mb-xl">
  {%- include 'field--multiple-values.html.twig' -%}
</div>
