{#
/**
 * @file
 * Call for proposals field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<ul class="ecl-unordered-list ecl-unordered-list--divider">
  {% for item in items %}
    <li class="ecl-unordered-list__item ecl-u-pb-none ecl-u-mb-l">
      {{ pattern('list_item', {
        meta: [ label ],
        url: item.content['#url'],
        title: item.content['#title']
      }) }}
    </li>
  {% endfor %}
</ul>
