{#
/**
 * @file
 * Field is used for multiple values field to set distance between rows.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
{% for item in items %}<div{{ not loop.last ? ' class="ecl-u-mb-m"' }}>{{ item.content }}</div>{% endfor %}
