{#
/**
 * @file
 * Respond button link field in the Consultation content full view mode.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<div class="ecl-u-mt-m">
  {% include '@ecl-twig/link' with {
    link: {
      type: 'cta',
      label: label,
      path: path,
    }
  } %}
</div>
