{#
/**
 * @file
 * Field template for oe_theme_content_person_job_role extra field.
 */
#}
{% for item in items %}<h3 class="ecl-u-type-heading-3 ecl-u-mt-none ecl-u-mb-s">{{ item.content }}</h3>{% endfor %}
