{#
/**
 * @file
 * News contacts field template.
 *
 * @see ./core/themes/stable/templates/field/field.html.twig
 */
#}
<div id="news-contacts" class="ecl-u-mt-3xl">
  <h2 class="ecl-u-type-heading-2">{{ 'Contacts'|t }}</h2>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
