{#
/**
 * @file
 * Theme override for oe_consultation_closed_status_text extra field.
 *
 * @see ./templates/field/field--bare.html.twig
 */
#}
<div class="ecl">
  {%- include 'field--bare.html.twig' -%}
</div>
