{#
/**
 * @file
 * Field template for oe_theme_content_person_job_list extra field.
 */
#}
{% for item in items %}
<div class="ecl-u-border-top {{ ecl_class_border_color() }} ecl-u-pt-m">
  {{ item.content }}
</div>
{% endfor %}
