{#
/**
 * @file
 * Theme override for the entity reference revisions field wich allowed to use paragraphs.
 *
 * @see ./templates/field/field--bare.html.twig
 */
#}
{% for item in items %}
  <div class="ecl-u-mv-2xl">
    {{ item.content }}
  </div>
{% endfor %}
