{#
/**
 * @file
 * Theme override for the status extra field on Call for tenders content type.
 *
 * @see \Drupal\oe_theme_content_call_tenders\Plugin\ExtraField\Display\CallForTendersStatusExtraField::viewElements()
 */
#}
<span class="tender-status ecl-u-text-uppercase">{{ label }}</span>
