{#
/**
 * @file
 * Temporary missing component template, used to migrate to ECL 2.0.
 */
#}
{# @todo: Remove this template once the migration to ECL 2.0 is done. #}
<div class="ecl-u-bg-grey-25 ecl-u-pa-s">
  <p class="ecl-u-type-color-blue ecl-u-type-paragraph-s ecl-u-type-bold">Missing component '{{ theme_hook_original }} - {{ variant }}' template.</p>
</div>

