{#
/**
 * @file
 * Banner pattern template.
 */
#}

{% if url is not empty and label is not empty %}
  {% set _link = {
    'link': {
      'path': url,
      'label': label,
      'icon_position': 'after'
    },
    'icon': {
      'path': ecl_icon_path,
      'name': external_link ? "external" : "corner-arrow",
      'transform': external_link ? "" : "rotate-90",
      'size': "xs"
    },
    'extra_attributes': link_extra_attributes
  } -%}
{% endif %}

{% set _picture = [] %}
{% if image.src is not empty and variant != 'plain_background' %}
  {% set _picture = {
    img: {
      src: image.src|default(''),
      alt: image.alt|default(''),
    }
  } %}
{% endif %}
{% if sources is not empty and sources is iterable %}
  {% set _sources = [] %}
  {% for source in sources %}
    {% set media = '' %}
    {% if source.size == 's' %}
      {% set media = '(max-width: 480px)' %}
    {% elseif source.size == 'm' %}
      {% set media = '(max-width: 768px)' %}
    {% elseif source.size == 'l' %}
      {% set media = '(max-width: 996px)' %}
    {% elseif source.size == 'xl' %}
      {% set media = '(max-width: 1140px)' %}
    {% endif %}
    {% set _sources = _sources|merge([{
      'src': source.src,
      'media': media,
    }]) %}
  {% endfor %}
{% endif %}
{% set _picture = _picture|merge({
  'sources': _sources,
}) %}

{% set _variant = variant|replace({'_': '-'}) %}

<div{{ container_attributes }}>
  {% include '@ecl-twig/banner' with {
    variant: _variant,
    title: title,
    description: description,
    link: _link,
    picture: _picture,
    size: size,
    centered: centered,
    full_width: full_width,
    credit: credit|default('')
  } only %}

</div>
