{% spaceless %}

{#
/**
 * @file
 * Default implementation for the video banner component.
 */
#}

{# Internal properties #}

{% set _css_class = ['ecl-video-banner']|join(' ') %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

<section class="{{ _css_class }}"{{ _extra_attributes }}>
  <div class="ecl-container ecl-video-banner__container">
    <div class="ecl-row">
      <div class="ecl-col-sm-12 ecl-col-md-6">
        {% include '@ecl/media-container' with video|default({}) %}
      </div>
      <div class="ecl-col-sm-12 ecl-col-md-6">
        <p class="ecl-u-type-paragraph">
          {{ description|default('') }}
        </p>
      </div>
    </div>
  </div>
</section>

{% endspaceless %}
