{#
/**
 * @file
 * Hero banner.
 */
#}

{% if url is not empty and label is not empty %}
  {% set _link = {
    'link': {
      'path': url,
      'label': label,
      'icon_position': 'after'
    },
    'icon': {
      'path': ecl_icon_path,
      'type': "ui",
      'name': "corner-arrow",
      'transform': "rotate-90",
      'size': "xs"
    }
  } -%}
{% endif %}

{% set _centered = alignment == 'center' %}
{% if alignment is null and centered is not empty %}
  {% set _centered = centered %}
{% endif -%}

{% if banner_type is not empty %}
  {% set _variant = banner_type %}
{% endif %}
{% if _variant is empty %}
  {% set _variant = variant %}
{% endif %}
{% if 'shade' in _variant %}
  {% set _variant = 'image-shade' %}
{% endif %}

<div{{ container_attributes }}>
  {% include '@ecl-twig/hero-banner' with {
    title: title,
    description: description,
    link: _link,
    image: image.src,
    variant: _variant,
    centered: _centered
  } only %}

</div>
