{#
/**
 * @file
 * Page banner.
 */
#}

{% if url is not empty and label is not empty %}
  {% set _link = {
    'link': {
      'path': url,
      'label': label,
      'icon_position': 'after'
    },
    'icon': {
      'path': ecl_icon_path,
      'type': "ui",
      'name': "corner-arrow",
      'transform': "rotate-90",
      'size': "xs"
    }
  } -%}
{% endif %}

{% set _variant = variant %}
{% if 'shade' in _variant %}
  {% set _variant = 'image-shade' %}
{% endif %}

<div{{ container_attributes }}>
  {% include '@ecl-twig/page-banner' with {
    title: title,
    baseline: description,
    link: _link,
    image: image.src,
    type: _variant,
    centered: alignment == 'center'
  } only %}
</div>
