{% spaceless %}

  {#
  /**
   * @file
   * Video banner.
   */
  #}

  {# Internal properties #}

  {% set _description = description|default('') %}
  {% set _video = video|default({}) %}

  {% set _css_class = ['ecl-video-banner']|join(' ') %}
  {% set _extra_attributes = '' %}

  {# Internal logic - Process properties #}

  {% if _video.sources %}
    {% set _sources = [] %}
    {% for _source in _video.sources %}
      {% set _sources = _sources|merge([_source|merge({
        type: _source.src_type
      })]) %}
    {% endfor %}
    {% set _video = _video|merge({
      sources: _sources
    }) %}
  {% endif %}

  {% if extra_classes is defined and extra_classes is not empty %}
    {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
  {% endif %}

  {% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
    {% for attr in extra_attributes %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
    {% endfor %}
  {% endif %}

  {# Print the result #}

  <section class="{{ _css_class }}"{{ _extra_attributes }}>
    <div class="ecl-container ecl-video-banner__container">
      <div class="ecl-row">
        <div class="ecl-col-s-12 ecl-col-m-6">
          {% include '@ecl-twig/media-container' with _video %}
        </div>
        <div class="ecl-col-s-12 ecl-col-m-6">
          <p class="ecl-u-type-paragraph">
            {{ _description }}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endspaceless %}
