{#
/**
 * @file
 * Theme for the registration button extra field on event content type.
 *
 * @see \Drupal\oe_theme_content_event\Plugin\ExtraField\Display\SummaryExtraField::lazyBuilder()
 */
#}
<div class="ecl-editor">
  {{ text }}
</div>
