{#
/**
 * @file
 * Theme for the online description extra field on event content type.
 */
#}
{% if description is not empty %}
  <div {% if hidden %}class="ecl-u-d-none"{% endif %} data-livestream-element="true">
    <h3 class="ecl-u-type-heading-3">{{ 'Livestream'|t }}</h3>
    {{ description }}
    <span class="ecl-u-mt-l ecl-u-mb-l ecl-u-d-inline-block">
      {{ pattern('link', {
        variant: 'cta',
        text: label,
        url: url
      }) }}
    </span>
  </div>
{% endif %}
