{#
/**
 * @file
 * Theme for the livestream extra field on event content type.
 */
#}
{% if date is not empty %}
  <div>{{ date }}</div>
{% endif %}
{% if label is not empty %}
  {#
    Use custom 'ecl-link--hidden' class in case we need to hide the link.
    Usage of 'hidden' attribute is restricted by priorities of CSS rule.
    Built-in classes of 'link' component have higher priority and override display rules.
  #}
  {% include '@ecl-twig/link' with {
    link: {
      type: 'standalone',
      label: label,
      path:  url,
      icon_position: 'after'
    },
    icon: {
      name: 'livestreaming',
      size: 's',
      path: ecl_icon_path
    },
    extra_attributes: [
      {
        name: 'data-livestream-element'
      },
    ],
    extra_classes: hide_link ? 'ecl-link--hidden',
  } %}
{% endif %}
