{#
/**
 * @file
 * Theme for the online description extra field on event content type.
 */
#}
{% if description is not empty %}
  <div {% if hidden %}class="ecl-u-d-none"{% endif %} data-livestream-element="true">
    <h3 class="ecl-u-type-heading-3">{{ 'Livestream'|t }}</h3>
    {{ description }}
    <a href="{{ url }}" class="ecl-u-mt-l ecl-u-mb-l ecl-link ecl-link--cta ecl-u-d-inline-block">{{ label }}</a>
  </div>
{% endif %}
