{#
/**
 * @file
 * Theme for the registration button extra field on event content type.
 *
 * @see \Drupal\oe_theme_content_event\Plugin\ExtraField\Display\RegistrationButtonExtraField::lazyBuilder()
 */
#}
{% if enabled %}
  <a href="{{ url }}" class="ecl-u-mt-2xl ecl-link ecl-link--cta">{{ label }}</a>
{% else %}
  <button type="submit" class="ecl-button ecl-button--call ecl-u-mt-2xl ecl-link ecl-link--cta" disabled="">{{ label }}</button>
{% endif %}
{% if description %}
  <p class="ecl-u-type-paragraph">{{ description }}</p>
{% endif %}
