{#
/**
 * @file
 * Default implementation for the page header component.
 */
#}

{% set _meta = '' %}
{% for meta in metas %}
  {% if _meta != '' %}
    {% set _meta = _meta ~ ' | ' %}
  {% endif %}
  {% set _meta = _meta ~ meta %}
{% endfor %}

{% set _breadcrumb_links = {} %}
{% for breadcrumb_item in breadcrumb %}
  {% set _links = {
    'label' : breadcrumb_item.label,
    'path' : breadcrumb_item.href
  } %}
  {% set _breadcrumb_links = _breadcrumb_links|merge([_links]) %}
{% endfor %}
{% set _breadcrumb = {
  'links' : _breadcrumb_links,
  'navigation_text' : '',
  'ellipsis_label': '',
  'icon_file_path' : ecl_icon_path
} %}

{% set _infos = {} %}
{% for infos_item in infos %}
  {% set _info = {
    'text' : infos_item.text,
    'icon' : {
      'type' : 'general',
      'name' : infos_item.icon,
      'path' : ecl_icon_path
    }
  } %}
  {% set _infos = _infos|merge([_info]) %}
{% endfor %}

{% if identity is not empty %}
  <div class="ecl-u-bg-blue ecl-u-pv-2xs">
    <div class="ecl-container ">
      <h2 class="ecl-u-type-color-white ecl-u-type-heading-2">{{ identity }}</h2>
    </div>
  </div>
{% endif %}

{% if language_switcher %}
  {% set _language_switcher %}
    {% include '@oe_theme/compositions/ec-component-content-language-switcher/content-language-switcher.html.twig' with {
      'expandable_id': language_switcher.expandable_id,
      'unavailable': language_switcher.unavailable,
      'current': language_switcher.current,
      'options': language_switcher.options,
      'icon_path': ecl_icon_path,
    } only %}
  {% endset %}
{% endif %}

{% include '@ecl/page-header' with {
  'title': title,
  'description': introduction,
  'breadcrumb': _breadcrumb,
  'meta': _meta,
  'infos': _infos,
  'language_switcher': _language_switcher
} %}
