{% spaceless %}

{#
/**
 * @file
 * Preview for the normal dialog component.
 */
#}

<a title="Click to test the modal" href="#dialog" class="ecl-link" data-ecl-dialog="ecl-dialog">Open dialog</a>
{% include 'pattern-dialog.html.twig' %}

{% endspaceless %}
