{#
/**
 * @file
 * Theme override for guidelines for a text format.
 *
 * @see ./core/modules/system/templates/content-edit/filter-guidelines.html.twig
 */
#}
<div{{ attributes.addClass('ecl-help-block') }}>
  <h4>{{ format.label }}</h4>
  {{ tips }}
</div>
