{% spaceless %}

{#
/**
 * @file
 * Organisation teaser.
 *
 * Available variables:
 * - "name" (string) (default: ''): name of the organisation.
 * - "acronym" (string) (default: ''): acronym of the organisation.
 * - "logo" (ImageValueObject) (default: {}): logo of the organisation.
 * - "organisation_details" (array) (default: []): list of fields.
 * - "contact_page_url" (string) (default: ''): email adress or contact page to contact the organisation.
 */
#}

<article class="ecl-u-mb-l ecl-u-border-bottom ecl-u-border-width-3 ecl-u-border-color-grey-15 ecl-content-item ecl-u-d-flex ecl-u-pb-m">
  {% if logo is not empty %}
    <div role="img"
      aria-label="{{ logo.alt }}"
      class="ecl-u-flex-shrink-0 ecl-u-mr-l ecl-u-media-a-s ecl-u-media-bg-size-contain ecl-u-media-bg-repeat-none ecl-u-d-l-block ecl-u-media-bg-position-center"
      style="background-image: url('{{ logo.src }}');"></div>
  {% endif %}

  <div class="ecl-u-flex-grow-1 ecl-u-type-color-grey">
    <h4 class="ecl-u-type-heading-4 ecl-u-mb-s ecl-u-mt-none">
      {{ name }}{% if acronym is not empty %} ({{ acronym }}){% endif %}
    </h4>

    {% if organisation_details|length > 0 %}
      {% include '@oe_theme/patterns/field_list/pattern-field-list.html.twig' with {
        variant: 'horizontal',
        items: organisation_details
      } %}
    {% endif %}

    {% if contact_page_url is not empty %}
      <div class="ecl-u-mt-l ecl-u-type-bold">
        {% include '@ecl-twig/link' with {
          link: {
            type: 'standalone',
            label: 'Contact organisation'|t,
            path: contact_page_url,
            icon_position: 'after'
          },
          icon: get_link_icon(contact_page_url)
        } %}
      </div>
    {% endif %}
  </div>
</article>
{% endspaceless %}
