{#
/**
 * @file
 * Overrides single page template for 'Standardised' ECL branding.
 *
 * Add additional information to 'site_header_container' and 'navigation' blocks.
 *
 * @see ./oe_theme/templates/layout/page.html.twig
 */
#}
{% extends "page.html.twig" %}

{% block site_header_container %}
  <div class="ecl-site-header-standardised__header">
    {{ parent() }}
  </div>
{% endblock %}

{% block navigation %}
  <div class="ecl-site-header-standardised__banner">
    <div class="ecl-container">
      <div class="ecl-site-header-standardised__site-name">{{ site_name }}</div>
    </div>
  </div>
  {{ parent() }}
{% endblock %}

