{#
/**
 * @file
 * Default implementation for the navigation menu component.
 */
#}

{# Process items as expected by ECL component. #}
{% set _items = [] %}
{% for item in items %}
  {# Process children, if any. #}
  {% set _children = [] %}
  {% for child in item.children %}
    {% set _child = {
      path: child.href,
      label: child.label,
    } %}
    {% if child.is_current is defined and child.is_current == true%}
      {% set _child = _child|merge({
        is_current: child.is_current,
      }) %}
    {% endif %}
    {% set _children = _children|merge([_child]) %}
  {% endfor %}

  {# Process menu items. #}
  {% set _item = {
    path: item.href,
    label: item.label,
    children: _children,
  } %}
  {% if item.is_current is defined and item.is_current == true %}
    {% set _item = _item|merge({
      is_current: item.is_current,
    }) %}
  {% endif %}
  {% set _items = _items|merge([_item]) %}
{% endfor %}

{% if _items or site_name %}
  {% include '@ecl-twig/twig-component-menu/menu.html.twig' with {
    title: label|default('Menu'|t),
    close: 'Close'|t,
    back: 'Back'|t,
    site_name: site_name,
    items: _items,
    icon_path: ecl_icon_path
  } only %}
{% elseif site_name %}
  <div class="ecl-site-header-{{ ecl_branding }}__banner">
    <div class="ecl-container">
      {{ site_name }}
    </div>
  </div>
{% endif %}

