{#
/**
 * @file
 * Active search filters pattern.
 */
#}
<div class="active-search-filters ecl-u-d-md-flex">
  <div class="active-search-filters__name ecl-u-flex-shrink-0 ecl-u-mb-s ecl-u-mr-s">
    <span class="ecl-u-text-uppercase">{{ name }}</span>
  </div>
  <div class="active-search-filters__items ecl-u-flex-grow-1">
    {% for item in items %}
      {% if item.url %}
        <a href="{{ item.url }}" class="ecl-tag ecl-tag--removable ecl-u-mr-xs ecl-u-mb-s">
          {{ item.label }}
          <span type="button" aria-label="Dismiss" class="ecl-tag__icon">
          {% include '@ecl-twig/icon' with {
            icon: {
              path: ecl_icon_path,
              type: "ui",
              name: "close",
              size: "xs"
            },
            extra_classes: "ecl-tag__icon-close"
          } only %}
            {% include '@ecl-twig/icon' with {
              icon: {
                path: ecl_icon_path,
                type: "ui",
                name: "close-filled",
                size: "xs"
              },
              extra_classes: "ecl-tag__icon-close-filled"
            } only %}
        </span>
        </a>
      {% else %}
        <div class="ecl-tag ecl-tag--removable ecl-u-mr-xs ecl-u-mb-s">
          {{ item.label }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
