{#
/**
 * @file
 * Active search filters pattern.
 */
#}

<div>
  <span class="ecl-u-ml-lg ecl-u-mt-s">
    <span class="ecl-u-mr-xs ecl-u-text-uppercase">{{ name }}</span>
    {% for item in items %}
      {% if item.url %}
        <a href="{{ item.url }}" class="ecl-tag ecl-tag--removable ecl-u-mr-xs ecl-u-mt-s">
          {{ item.label }}
          <span type="button" aria-label="Dismiss" class="ecl-tag__icon">
            {% include '@ecl-twig/icon' with {
              icon: {
                path: ecl_icon_path,
                type: "ui",
                name: "close",
                size: "xs"
              },
              extra_classes: "ecl-tag__icon-close"
            } only %}
            {% include '@ecl-twig/icon' with {
              icon: {
                path: ecl_icon_path,
                type: "ui",
                name: "close-filled",
                size: "xs"
              },
              extra_classes: "ecl-tag__icon-close-filled"
            } only %}
          </span>
        </a>
      {% else %}
          <div class="ecl-tag ecl-tag--removable ecl-u-mr-xs ecl-u-mt-s">
            {{ item.label }}
          </div>
      {% endif %}
    {% endfor %}
  </span>
</div>
